@keyframes Fold {
  from { transform: translateY(200%); opacity: 0; }
  to { transform: translateY(0); opacity: 1; }
}
@keyframes Hide {
  from { transform: translateY(0); opacity: 1; }
  to { transform: translateY(200%); opacity: 0; }
}

.konfia-fold { animation: Fold 500ms ease-in-out forwards; }
.konfia-hide { animation: Hide 500ms ease-in-out forwards; }