@keyframes Fold {
  from { top: 100%; opacity: 0; }
  to { top: 0; opacity: 1; }
}
@keyframes Hide {
  from { top: 0; opacity: 1; }
  to { top: 100%; opacity: 0; }
}

.konfia-fold { animation: Fold 1s ease-in-out forwards; }
.konfia-hide { animation: Hide 1s ease-in-out forwards; }