@keyframes slideLeft {
	0% { left: -100%; opacity: 0 }
	100% { left: 0; opacity: 1 }
}
@keyframes slideRight {
	0% { left: 0; opacity: 1 }
	100% { left: -100%; opacity: 0 }
}

.slide-left { animation: slideLeft 500ms ease-in-out; }
.slide-right { animation: slideRight 500ms ease-in-out; }